cloudProvider: aws
awsRegion: us-east-1

autoDiscovery:
  clusterName: <EKS_CLUSTER_NAME>

rbac:
  create: true

serviceAccount:
  create: true
  name: cluster-autoscaler

extraArgs:
  skip-nodes-with-system-pods: false